.chat-container {
    width: 100%;
    /* background: linear-gradient(to right, #c31432, #240b36); */
    background: #7c9a92;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inbox-container {
    height: 86vh;
    width: 60%;
}

.no-matches-text {
    font-size: 40px;
    color: white;
    padding: 40px;
}