* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* body {
    background: #e8efff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
  } 
   */
  .like__btn {
    padding: 10px 15px;
    background: #0080ff;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    border-radius: 5px;
    color: #e8efff;
    outline: none;
    border: none;
    cursor: pointer;
  }

  .dislike__btn {
    padding: 10px 15px;
    background: #0080ff;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    border-radius: 5px;
    color: #e8efff;
    outline: none;
    border: none;
    cursor: pointer;
  }
  