* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.form-container {
    /* margin: auto; */
    /* width: 100%; */
    /* background-color: #1c2237; */
    background: linear-gradient(to right, #c31432, #240b36);
    position: relative;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* max-width: 500px; */
    /* position: relative;
    border-radius: 10px;
    height: 600px;
    display: inline-block; */
    /* height: 100vh; */

}

.form-content {
    /* border-radius: 0 10px 10px 0; */
    padding-top: 50px;
    padding-bottom: 100px;
    max-width: 500px;
    flex: 1;
    position: relative;
    /* align-items: center; */
    /* justify-content: center; */
    /* text-align: center; */
}

.form {
    position: relative;
    /* top: 50%;
    left: 50%;
    width: 90%; */
    /* transform: translate(-50%, -50%); */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 40px 40px 20px;
    text-align: center;
}

.form h1 {
    font-size: 2rem;
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;
    color: black;
}

.form-header {
    font-size: 2rem;
    text-align: start;
    width: 80%;
    margin-bottom: 1rem;
    color: white;
}

.form-inputs {
    margin-bottom: 0.5rem;
    width: 100%;
    text-align: start;
}

.form-label {
    display: inline-block;
    font-size: 0.8rem;
    margin-bottom: 6px;
    /* color: black; */
    text-align: start;
    
}

.form-button {
    width: 150px;
    height: 50px;
    margin-top: 10px;
    border-radius: 2px;
    /* background-color: #699fa1; */
    background-color: #a02e41;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
}

.form-input {
    display: block;
    padding-left: 10px;
    outline: none;
    border-radius: 2px;
    height: 40px;
    border-left: none;
    border-top: none ;
    border-right: none;
    width: 100%;
    
}

.form-inputs-small {
    margin-bottom: 0.5rem;
    width: 100%;
    text-align: start;
}

.form-inputs-small-gender {
    margin-bottom: 0.5rem;
    width: 100%;
    text-align: start;
    padding-bottom: 50px;
}

.form-input-bio {
    display: block;
    padding-left: 10px;
    padding-top: 10px;
    /* outline-color: black; */
    border-radius: 2px;
    /* border-color: black; */
    height: 100px;
    width: 100%;
    border:10;
}

.form-button:hover {
    cursor: pointer;
    background-color: white;
    color: #1c2237;
    transition: all 0.4s ease-out;
}

.form-img-buttons {
    display: flex; 
    align-self: center;
    justify-content: center; 
    padding-bottom: 10px;
    /* float: right; */
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    /* float:right; */
    /* width: 200px; */
    height: auto;
    /* height: 25%; */
}

.profile-pic {
    padding: 20px; 
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.delete-button {
    width: 150px ;
    height: 50px;
    margin-top: 10px;
    border-radius: 2px;
    background-color: rgb(219, 19, 19);
    /* background-color: #a62c2b; */
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
}

.delete-button:hover {
    cursor: pointer;
    background-color: white;
    color: #1c2237;
    transition: all 0.4s ease-out;
    border:solid 2px black;
}

.button-container {
    padding-top: 80px;
}

