.form-container {
    margin: auto;
    width: 100%;
    background-color: #1c2237;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width: 500px; */
    /* position: relative;
    border-radius: 10px;
    height: 600px;
    display: inline-block; */
}

.form-content{
    /* border-radius: 0 10px 10px 0; */
    padding-top: 50px;
    padding-bottom: 100px;
    max-width: 500px;
    flex: 1;
    position: relative;
    align-items: center;
    justify-content: center;
}

.forms{
    /* position:absolute; */
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%); 
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form h1 {
    font-size: 2rem;
    text-align: start;
    width: 80%;
    margin-bottom: 1rem;
    color: white;
}

.form-inputs {
    margin-bottom: 0.5rem;
    width: 80%;
}

.form-label {
    display: inline-block;
    font-size: 0.8rem;
    margin-bottom: 6px;
    color: white;
}


.form-button {
    width: 80%;
    height: 50px;
    margin-top: 10px;
    border-radius: 2px;
    background-color: #699fa1;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
  }

.form-input {
    display: block;
    padding-left: 10px;
    outline: none;
    border-radius: 2px;
    height: 40px;
    width: 100%;
    border: none;
  }

  
.form-input-bio {
    display: block;
    padding-left: 10px;
    outline: none;
    border-radius: 2px;
    height: 100px;
    width: 100%;
    border: none;
  }

  .form-button:hover {
    cursor: pointer;
    background-color: white;
    color: #1c2237;
    transition: all 0.4s ease-out;
  }