* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body {
    background: #e8efff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
  } 
   */
.like__btn {
    width: 110px;
    padding: 10px 15px;
    border:solid 2px white;
    border-radius: 5px;
    border-radius: 5px;
    background: rgba(255, 255, 255,0);
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: #e8efff;
    cursor: pointer;
    position: absolute;
    left: 65%;
    bottom: 10%;
}

.dislike__btn {
    width: 110px;
    padding: 10px 15px;
    border:solid 2px white;
    border-radius: 5px;
    background: rgba(255, 255, 255,0);
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: #e8efff;
    cursor: pointer;
    position: absolute;
    left: 80%;
    bottom: 10%;
}

.like__btn:hover {
    background: #33a55f;
}

.dislike__btn:hover {
    background: #c2413d;
}

.profile_pic {
    right: 10%;
    top: 10%;
    position: absolute;
    float: right;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.user-container {
    margin: auto;
    width: 100%;
    height: 100vh;
    /* background-color: #1c2237; */
    background: linear-gradient(to right, #c31432, #240b36);

    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.text-container {
    width: 50%;
}

.name-text {
    font-size: 50px;
    color: white;
    padding: 40px 0 0 40px;
}

.bio-text {
    font-size: 20px;
    color: white;
    padding: 0 5px 30px 40px;
}

.title-text {
    /* color: #97d6d8; */
    font-size: 20px;
}

.content-text {
    font-size: 25px;
    color: white;
    padding: 5px 5px 5px 40px;
}

.filters-btn {
    width: 60px;
    height: 30px;
    margin-right: 40px;
    margin-top: 20px;
    float: right;
    border:solid 2px white;
    border-radius: 5px;
    background: rgba(255, 255, 255,0);
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #e8efff;
    cursor: pointer;
}

.filters-btn:hover {
    background-color: white;
    color: black;
}

.filters-header {
    font-size: 30px;
    color: black;
    padding: 0 40px 20px 40px;
}

.filters-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    justify-content: center;
    align-items: center;
}

.menu-container {
    background-color: white;
    position: absolute;
    top: 2%;
    width: 50%;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
}

.menu-content {
    padding: 5px 40px 40px 40px;
    
}

.distance {
    float: right;
}

.ages {
    float: right;
}

.filter-titles {
    padding-top: 20px;
}

.submit-btn-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.submit-btn {
    margin-top: 50px;
    height: 50px;
    width: 90px;
    border:solid 2px white;
    border-radius: 5px;
    background: linear-gradient(to right, #c31432, #240b36);
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    cursor: pointer;
}

.submit-btn:hover {
    background: white;
    color: black;
    border: solid 2px black;
    border-radius: 5px;
}