* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body {
    background: #e8efff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
  } 
   */
.like__btn {
    width: 110px;
    padding: 10px 15px;
    border:solid 2px white;
    border-radius: 5px;
    border-radius: 5px;
    background: rgba(255, 255, 255,0);
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: #e8efff;
    cursor: pointer;
    position: absolute;
    left: 80%;
    bottom: 20%;
}

.dislike__btn {
    width: 110px;
    padding: 10px 15px;
    border:solid 2px white;
    border-radius: 5px;
    background: rgba(255, 255, 255,0);
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: #e8efff;
    cursor: pointer;
    position: absolute;
    left: 65%;
    bottom: 20%;
}

.like__btn:hover {
    background: #33a55f;
}

.dislike__btn:hover {
    background: #c2413d;
}

.profile_pic {
    right: 10%;
    top: 10%;
    position: absolute;
    float: right;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.user-container {
    margin: auto;
    width: 100%;
    height: 100vh;
    /* background-color: #1c2237; */
    background: linear-gradient(to right, #c31432, #240b36);

    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.text-container {
    width: 50%;
}

.name-text {
    font-size: 50px;
    color: white;
    padding: 40px 0 0 40px;
}

.bio-text {
    font-size: 20px;
    color: white;
    padding: 0 5px 30px 40px;
}

.title-text {
    /* color: #97d6d8; */
    font-size: 20px;
}

.content-text {
    font-size: 25px;
    color: white;
    padding: 5px 5px 5px 40px;
}
