.dropdown-menu{
    width: 200px;
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: start;
}

.dropdown-menu li{
    background: #fff;
    cursor: pointer;
}


.dropdown-menu.clicked{
    display: none;
}

.dropdown-link{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
    padding: 16px;
}

.dropdown-menu li:hover{
    background: #699fa1;
    color: white;
}